# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.env/
.venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Flask
# =========================
instance/
.webassets-cache

# =========================
# Flask Migrate
# =========================
migrations/__pycache__/
migrations/*.pyc

# =========================
# Logs
# =========================
*.log

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Pipenv
# =========================
Pipfile.lock

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Misc
# =========================
*.swp
*.swo